<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
    <title>Vue.js - binding data</title>
    <style>
    p {
      display: inline-block;
    }
    </style>
  </head>
  <body>
    <div id="app">
      <label for="name" v-bind:class="{green: name, red: !name}">What's your name? </label>
      <input id="name" type="text"v-model.lazy.trim="name">
      <ol>
      <h1 v-show="name"><span>Hello <strong>{{name}}</strong>! </span>Here's your Zoo</h1> 
        <img width="10%" :src="name ? gladSrc : sadSrc">
        <li v-for="animal in animalsForZoo" v-html="animalCodes[animal]"></li>
      </ol>
      <p>Select your animals:</p>
      <select @change="populateAnimalsForZoo" multiple="multiple" name="animals" id="animals">
          <option v-for="animal in animals" :value="animal">{{animal}}</option>
        </select>
    </div>
  </body>
</html>
<script src="vue.js"></script>
<script>

  const animalCodes = {
    dog     : '&#x1f436;',
    cat     : '&#x1f638;',
    monkey  : '&#x1f435;',
    unicorn : '&#x1f984;',
    tiger   : '&#x1f42f;',
    mouse   : '&#x1f42d;',
    rabbit  : '&#x1f430;',
    cow     : '&#x1f42e;',
    whale   : '&#x1f433;',
    horse   : '&#x1f434;',
    pig     : '&#x1f437;',
    frog    : '&#x1f438;',
    koala   : '&#x1f43c;'
}

  const animals = Object.keys(animalCodes)

  const animalsForZoo = []
  const data = {
    animalCodes,
    animals,
    animalsForZoo,
    name,
    sadSrc: 'images/sad.png',
    gladSrc: 'images/glad.png'
  }

  new Vue({
    el: '#app',
    data,
    methods: {
    populateAnimalsForZoo(ev) {
      this.animalsForZoo = []
      const selected = document.querySelectorAll('#animals option:checked')
      for (var i = 0; i < selected.length; i++) {
        this.animalsForZoo.push(selected[i].value)
      }
    }
  }
  })

</script>